<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>edudoc</display-name>
  <welcome-file-list>
    <welcome-file>Autorization</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Autorization</display-name>
    <servlet-name>Autorization</servlet-name>
    <servlet-class>servlet.Autorization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Autorization</servlet-name>
    <url-pattern>/Autorization</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/public/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Discipline</display-name>
    <servlet-name>Discipline</servlet-name>
    <jsp-file>/JspFiles/Student/Discipline.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Discipline</servlet-name>
    <url-pattern>/Discipline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KillSession</display-name>
    <servlet-name>KillSession</servlet-name>
    <servlet-class>servlet.KillSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KillSession</servlet-name>
    <url-pattern>/KillSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Paperwork</display-name>
    <servlet-name>Paperwork</servlet-name>
    <servlet-class>servlet.Paperwork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paperwork</servlet-name>
    <url-pattern>/PaperWork</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DowloadManager</display-name>
    <servlet-name>DowloadManager</servlet-name>
    <servlet-class>servlet.DowloadManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DowloadManager</servlet-name>
    <url-pattern>/DowloadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Group</display-name>
    <servlet-name>Group</servlet-name>
    <jsp-file>/JspFiles/Teacher/Group.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Group</servlet-name>
    <url-pattern>/SearchGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplineTeacher</display-name>
    <servlet-name>DisciplineTeacher</servlet-name>
    <jsp-file>/JspFiles/Teacher/DisciplineTeacher.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplineTeacher</servlet-name>
    <url-pattern>/DisciplineTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaperWorkTeacher</display-name>
    <servlet-name>PaperWorkTeacher</servlet-name>
    <jsp-file>/JspFiles/Teacher/PaperWorkTeacher.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperWorkTeacher</servlet-name>
    <url-pattern>/PaperWorkTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaperWorkYMR</display-name>
    <servlet-name>PaperWorkYMR</servlet-name>
    <jsp-file>/JspFiles/YMR/PaperWorkYMR.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperWorkYMR</servlet-name>
    <url-pattern>/PaperWorkYMR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudent</display-name>
    <servlet-name>EditStudent</servlet-name>
    <jsp-file>/JspFiles/YMR/EditStudent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudent</servlet-name>
    <url-pattern>/EditStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataTeacherWork</display-name>
    <servlet-name>DataTeacherWork</servlet-name>
    <servlet-class>servlet.DataTeacherWork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataTeacherWork</servlet-name>
    <url-pattern>/DataTeacherWork</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArchiveWorksStudent</display-name>
    <servlet-name>ArchiveWorksStudent</servlet-name>
    <jsp-file>/JspFiles/Student/ArchiveWorksStudent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArchiveWorksStudent</servlet-name>
    <url-pattern>/ArchiveWorksStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArchiveWorksTeacher</display-name>
    <servlet-name>ArchiveWorksTeacher</servlet-name>
    <jsp-file>/JspFiles/Teacher/ArchiveWorksTeacher.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArchiveWorksTeacher</servlet-name>
    <url-pattern>/ArchiveWorksTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>servlet.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateReport</display-name>
    <servlet-name>CreateReport</servlet-name>
    <servlet-class>servlet.CreateReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReport</servlet-name>
    <url-pattern>/CreateReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupYMR</display-name>
    <servlet-name>GroupYMR</servlet-name>
    <jsp-file>/JspFiles/YMR/GroupYMR.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupYMR</servlet-name>
    <url-pattern>/GroupYMR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Error</display-name>
    <servlet-name>Error</servlet-name>
    <jsp-file>/JspFiles/Error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaperWorkCorrect</display-name>
    <servlet-name>PaperWorkCorrect</servlet-name>
    <servlet-class>servlet.PaperWorkCorrect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperWorkCorrect</servlet-name>
    <url-pattern>/PaperWorkCorrect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGroup</display-name>
    <servlet-name>AddGroup</servlet-name>
    <servlet-class>servlet.AddGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGroup</servlet-name>
    <url-pattern>/AddGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDiscipline</display-name>
    <servlet-name>AddDiscipline</servlet-name>
    <servlet-class>servlet.AddDiscipline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDiscipline</servlet-name>
    <url-pattern>/AddDiscipline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddWork</display-name>
    <servlet-name>AddWork</servlet-name>
    <servlet-class>servlet.AddWork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWork</servlet-name>
    <url-pattern>/AddWork</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherAccess</display-name>
    <servlet-name>TeacherAccess</servlet-name>
    <servlet-class>servlet.TeacherAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherAccess</servlet-name>
    <url-pattern>/TeacherAccess</url-pattern>
  </servlet-mapping>
</web-app>